@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Nova Cut", cursive;
}

body {
  background-color: rgb(219, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100vw;
  height: 40vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
body h1 {
  position: absolute;
  font-weight: 400;
  top: 10;
}
#gameBox {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 325px;
  height: 325px;
  margin: auto;
}
.cell {
  width: 85px;
  height: 85px;
  border: 2px solid rgb(219, 219, 219);
  color: rgb(219, 219, 219);
  font-size: 50px;
  font-family: "Nova Cut", cursive;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#statusText {
  color: aliceblue;
  position: absolute;
  top: 40px;
  font-size: 40px;
  font-weight: 300;
  font-family: "Montserrat Alternates", sans-serif;
}
#restartBtn {
  position: absolute;
  bottom: 50px;
  padding: 8px 18px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Nova Cut", cursive;
}
#restartBtn:hover {
  color: white;
  background-color: rgb(129, 129, 129);
  transition: 0.3s ease-in-out;
}
